name: CI

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
      - uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        env:
          TEAMCITY_DEV_URL: ${{ secrets.TEAMCITY_DEV_URL }}
          TEAMCITY_USER: ${{ secrets.TEAMCITY_USER }}
          TEAMCITY_PASSWORD: ${{ secrets.TEAMCITY_PASSWORD }}
        run: ./gradlew build --continue
      - name: Clean neo4j from the cache
        if: success() || failure() # run this step even if previous step failed
        run: (find ~/.gradle/caches -name "*neo4j*" -exec rm -rf {} \;) || echo "All neo4j files cleaned"
      - name: Check procedures included in apoc full
        run: git diff --exit-code full/src/main/resources/extended.txt || (echo "extended.txt file does not contain all changes" && exit -1)
      - name: Archive test results
        uses: actions/upload-artifact@v2
        with:
          name: test-results
          path: |
            core/build/reports/tests/test/
            full/build/reports/tests/test/
            processor/build/reports/tests/test/
            test-startup/build/reports/tests/test/
            test-utils/build/reports/tests/test/
