name: CI

on:
  push:
    branches: [ "4.4" ]
  pull_request:
    branches: [ "4.4" ]

env:
  SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-jdk
      - uses: ./.github/actions/setup-gradle-cache
      - name: Compile
        run: ./gradlew compileJava compileTestJava

  code-ql:
    runs-on: ubuntu-latest
    needs: compile

    # required by CodeQL
    permissions:
      security-events: write
      actions: read

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-jdk
      - uses: ./.github/actions/setup-gradle-cache
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v2
        with:
          languages: java
      - name: Compile
        run: ./gradlew compileJava compileTestJava
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v2

  tests:
    strategy:
      fail-fast: false
      matrix:
        project: ['core', 'full', 'processor', 'test-utils', 'it']
    env:
      ENTERPRISE_TAR: enterprise-docker.tar
      COMMUNITY_TAR: community-docker.tar

    runs-on: ubuntu-latest
    needs: compile
    steps:
      - uses: actions/checkout@v3
      - name: Run ${{ matrix.project }} tests
        uses: ./.github/actions/test-gradle-project
        with:
          project-name: ${{ matrix.project }}
